@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply selection:bg-highlight-100 selection:text-white;
}

@layer base {
  .background-grid {
    background-color: #fafafa;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}